@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800;900&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-soft-cyan: hsl(168, 34%, 41%);

    --dark: hsl(212, 27%, 19%);
    --soft-dark: hsl(213, 9%, 39%);
    --gray: hsl(232, 10%, 55%);
    --soft-gray: hsl(210, 4%, 67%);
    --white: #fff;

    --font-family-barlow: 'Barlow', sans-serif;
    --font-family-fraunces: 'Fraunces', serif;
}

/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
}
p {
    font-size: 18px;
    line-height: 1.5em;
}
a {
    text-decoration: none;
}
.font-family-barlow {
    font-family: var(--font-family-barlow);
}
.font-family-fraunces {
    font-family: var(--font-family-fraunces);
}
.dark-cyan {
    color: var(--dark-cyan);
}
.dark-blue {
    color: var(--dark-blue);
}


/* Header Section */
header {
    min-height: 100vh;
    background: url(/images/desktop/image-header.jpg) no-repeat 50%;
    background-size: cover;
    position: relative;
}
header .hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: 30px 60px;
}
header .hero h1 {
    grid-column: span 6;
    font-size: 1.5em;
    color: var(--white);
    font-weight: 800;
}
header nav {
    grid-column: span 6;
    justify-self: end;
}
header .hero .menu {
    display: none;
    cursor: pointer;
}
header nav a {
    margin-left: 15px;
    color: #fff;
    font-size: 16px;
}
header nav a.active {
    padding: 0 7px;
    border-radius: 28px;
    color: var(--dark);
    font-family: var(--font-family-fraunces);
    background-color: var(--white);
    border: 10px solid var(--white);
    transition: .1s;
}
header nav a.active:hover {
    background-color: #70CEFB;
    border-color: #70CEFB;
    color: var(--white);
}
header > h1 {
    color: var(--white);
    font-size: 3em;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    text-align: center;
}
header > a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Service Section */
.services .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.grid .text {
    padding: 120px;
}
.text h2 {
    font-size: 2em;
    color: var(--dark);
}
.text p {
    color: var(--soft-dark);
    margin: 30px 0;
}
.text a {
    color: var(--dark);
    text-transform: uppercase;
}
.text .yellow-bottom::after, .text .red-bottom::after {
    content: "";
    display: block;
    width: 120px;
    height: 10px;
    border-radius: 28px;
    margin-top: -8px;
    margin-left: -4px;
    transition: .2s;
}
.text .yellow-bottom::after {
    background-color: hsla(51, 100%, 49%, 30%);
}
.text .red-bottom::after {
    background-color: hsla(7, 99%, 70%, 30%);
}
.text .yellow-bottom:hover:after {
    width: 120px;
    background-color: hsl(51, 100%, 49%);
} 
.text .red-bottom:hover:after {
    width: 120px;
    background-color: hsl(7, 99%, 70%);
} 
.grid img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.grid:last-child div {
    position: relative;
    min-width: 100%;
    height: 75%;
}
.grid .inline-text {
    width: 50%;
    position: absolute;
    bottom: 40%;
    padding: 0 20px;
    text-align: center;
}
.grid .inline-text p {
    margin-top: 20px;
}

/*  Testimonials */
.testimonials {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    margin-bottom: 120px;
}
.testimonials h2 {
    text-align: center;
    grid-column: span 12;
    color: var(--soft-gray);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 60px;
}
.testimonials div {
    grid-column: span 4;
    text-align: center;
    padding: 0 10px;
}
.testimonials div img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.testimonials div p {
    color: var(--gray);
    margin: 40px 0;
}
.testimonials .author p {
    margin: 0;
    opacity: 70%;
}

/* Photos Section */
.photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.photos img {
    min-width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Footer Section */
footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 60px 0;
    margin: 0 auto;
    background-color: #90D4C5;
    color: var(--dark-cyan);
    position: relative;
}
footer a {
    color: var(--dark-cyan);
}
footer h2 {
    grid-column: span 12;
    text-align: center;
    font-size: 2em;
}
footer .links, footer .footer-icons {
    margin-top: 20px;
    grid-column: span 12;
    text-align: center;
}
footer .links a {
    margin-left: 50px;
    transition: .2s;
}
footer .links a:first-child, footer .footer-icons a:first-child {
    margin-left: 0;
}
footer .footer-icons a i {
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 30px;
    cursor: pointer;
    transition: .2s
}
footer .attribution {
    grid-column: span 12;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s;
}
footer .attribution a {
    transition: .2s;
}
footer .links a:hover, footer .footer-icons i:hover, footer .attribution a:hover {
    color: var(--white);
}

/* Responsive */

@media screen and (max-width: 1080px) {
    header > h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 820px) {
    header > h1 {
        font-size: 2em;
    }
    header nav a {
        display: none;
    }
    header .hero .menu {
        width: 30px;
        display: block;
        grid-column: 12;
        grid-row: 1;
        justify-self: end;
    }
    .services .grid {
        grid-template-columns: 1fr;
    }
    .grid img {
        grid-row: 1;
        min-width: 100%;
        max-height: 50%;
    }
    .grid:last-child div {
        height: 100%;
    }
    .grid .inline-text {
        width: 100%;
        bottom: 28%;
    }
    .testimonials {
        grid-template-columns: 1fr;
        padding: 60px 0;
        margin-bottom: 0;
    }
    .testimonials div {
        grid-column: 1;
        max-width: 400px;
        margin: 30px auto;
    }
    .testimonials div:first-child {
        margin-top: 0;
    }
    .photos img {
        grid-column: span 2;
        height: 350px;
    }
    footer .footer-icons a i {
        margin-top: 30px;
    }
    footer .attribution {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    header {
        background: url(/images/mobile/image-header.jpg) no-repeat 50%;
        background-size: cover;
    }
    header .hero {
        padding: 30px;
    }
    .grid .text {
        text-align: center;
        padding: 60px;
    }
    .grid .inline-text {
        width: 100%;
        bottom: 37%;
    }
    .text .yellow-bottom::after, .text .red-bottom::after {
        margin: -8px auto;
    }
    .photos img {
        height: 250px;
    }
    
}